<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">
            <div class="home_logo"><p class="head_descr">Home</p></div>
          </a>
        </li>
        <li>
          <a href="/movies">
            <div class="movies_logo"><p class="head_descr">All movies</p></div>
          </a>
        </li>
        <li>
          <a href="/dashboard">
            <div class="dash_logo"><p class="head_descr">Dashboard</p></div>
          </a>
        </li>
        <li>
          <a href="/logout">
            <div class="logout_logo"><p class="head_descr">Logout</p></div>
          </a>
        </li>
      </ul>
    </header>
    <section id="main">
      <h1>Hello <%= userName %> you sign in</h1>

      <ul class="user_profile">
        <li><%= user.firstname %></li>
        <li><%= user.secondname %></li>
        <li><%= user.email %></li>
      </ul>
      <% if (userResult.length>0){%>
      <table class="user_rating">
        <% for ( i = 0; i< userResult.length; i++) { %>

        <tr>
          <td>
            Movie is:
            <a id="usermovielistID" alt="<%= userResult[i].movie_id%>" href="/movie/<%=userResult[i].movie_id%>"
              ><%= userResult[i].movie_id%></a
            >
          </td>
          <td>Rating is: <%= userResult[i].rating_score%></td>
        </tr>

        <%} %>
      </table>
      <%} %>

      <a href="/">Start searching movies</a>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>
